.area-de-practicas {
  margin-bottom: 100px;
}
.areas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contenedor-tarjeta {
  display: flex;
  position: relative;
}

.contenedor-tarjeta:hover {
  transition: 1s;
  transform: scale(1.1);
  z-index: 1;
}
// mediaquerys
@media (min-width: 576px) and (max-width: 767.98px) {
  .areas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenedor-tarjeta {
    display: flex;
    position: relative;
    margin: 50px 0px 50px 0px;
  }

  .contenedor-tarjeta:hover {
    transition: 1s;
    transform: scale(1.1);
    z-index: 1;
  }
}

.icono {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  left: 90px;
  top: -50px;
  background: #700f0e;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 1px #700f0e;
}
// .icono:hover {
//   transition: 1s;
//   transform: scale(1.1);
//   z-index: 1;
// }
.tarjeta {
  display: grid;
  grid-template-areas:
    "titulo"
    "texto";
  grid-template-columns: 100%;
  grid-template-rows: 50% 40%;
  width: 250px;
  height: 200px;
  box-shadow: 0px 0px 2px 1px #700f0e;
}

// .tarjeta:hover {
//   transition: 2s;
//   transform: scale(1.1);
//   z-index: -1;
// }

.titulo-tarjeta {
  display: inline-block;
  position: relative;
  color: #22353c;
  text-decoration: none;
  grid-area: titulo;
  justify-self: center;
  align-self: end;
}

.titulo-tarjeta:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 1s;
}

.titulo-tarjeta:hover:after {
  width: 100%;
  background: #700f0e;
}

.texto-tarjeta {
  grid-area: texto;
  justify-self: center;
  align-self: center;
  margin: 0px 10px 0px 10px;
  text-align: justify;
}

@media (max-width: 575.98px) {
  .areas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenedor-tarjeta {
    display: flex;
    position: relative;
    margin: 50px 0px 50px 140px;
  }

  .contenedor-tarjeta:hover {
    transition: 1s;
    transform: scale(1.1);
    z-index: 1;
  }
}
