.contactos-datos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 30px 0px !important;
  padding: 0px 0px 0px 0px;
}
.control-label {
  font-size: 15px;
}

.form-control {
  font-size: 12px;
}

.informacion-contacto {
  display: grid;
  grid-template-areas:
    "titulo titulo"
    "mapa mapa"
    "logo-ubicacion texto-ubicacion"
    "logo-horario texto-horario"
    "logo-telefono texto-telefono"
    "logo-correo texto-correo";
  grid-template-columns: 10% 65%;
  grid-template-rows: 5% 50% 10% 10% 10% 10%;

  .titulo-contacto {
    grid-area: titulo;
    margin: 0px 0px 0px 0px;
  }
  .mapa-contacto {
    grid-area: mapa;
    justify-self: stretch;
    align-self: center;
  }
  .logo-ubicacion {
    grid-area: logo-ubicacion;
    align-self: center;
    justify-self: center;
  }
  .texto-ubicacion {
    grid-area: texto-ubicacion;
    align-self: center;
    margin: 0px 0px 0px 10px;
    font-size: 13px;
  }
  .logo-horario {
    grid-area: logo-horario;
    align-self: center;
    justify-self: center;
  }
  .texto-horario {
    grid-area: texto-horario;
    align-self: center;
    margin: 0px 0px 0px 10px;
    font-size: 13px;
  }
  .logo-telefono {
    grid-area: logo-telefono;
    align-self: center;
    justify-self: center;
  }
  .texto-telefono {
    grid-area: texto-telefono;
    align-self: center;
    margin: 0px 0px 0px 10px;
    font-size: 13px;
  }
  .logo-correo {
    grid-area: logo-correo;
    align-self: center;
    justify-self: center;
  }
  .texto-correo {
    grid-area: texto-correo;
    align-self: center;
    margin: 0px 0px 0px 10px;
    font-size: 13px;
  }
}
